/__pycache__
/model/*.pt
*.pkl
*.zip
/logs
*.csv
*.npz
*__pycache__
init_odps_credentials.sh
.idea
*.log
/recom_ranking.egg-info/
.mypy_cache
/junk/*
*.ipynb_checkpoints/*
*rendered.html
*.whl
*.report
.ossutil_checkpoint
.bash_history
.config/
.local/
build/
*.egg-info

data/*
notebooks/dev/*

